body{
	front-family: "Crimson text", "Times New Roman", serif;
	back-color:#0000ff;
	font-size: 120%;
}

	h1,h2{ 
  			font-family: "Open Sans Condensed", "Arial", sans-srif;
  			padding: 10px;
  			margin: 0;
  			border:10px solid #C2CCCA;
  			width: 1200px
  			box-sizing: border-box;
  			
}
  	h1,h2{
  			text-align: center;
  			background-color: #0000ff;
  			color: #FFF;
  			}

p{
	text-align: justify;
	background-color:#E8E8E8;
	color: #1C1C1C;
}


li{
	display:inline-block;
	background-color:#E8E8E8;
	color: #1C1C1C;

}

.menu li a:before {
  display: block;
  text-align: center;
}
	
.menu li a[href$="home.html"]:before {
  content: url("facebook.pnj");
}
.menu li a[href$="gmail.html"]:before {
  content: url("gmail.png");
}
.menu li a[href$="instagram.html"]:before {
  content: url("instagram.png");
}

.menu li a[href$="twitter.html"]:before {
  content: url("twitter");
}
.menu li a[href$="youtube.html"]:before {
  content: url("youtube.png");
}
}
